{% extends "base.html" %}

{% block page_title %}
Home | fikriramdani32
{% endblock page_title %}

{% block contents %}
<div class="jumbotron">
	<h1 class="display-4 text-center">Home</h1>
	<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
		content or information.</p>
	<hr class="my-4">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row">
	{% for artikel in latest_artikel %}
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><a class="text-dark"
						href="{% url 'artikel:kategori' artikel.kategori 1 %}">{{artikel.kategori}}</a></h5>
				<h6 class="card-subtitle mb-2 text-dark"><a class="text-dark"
						href="{% url 'artikel:detail' artikel.slug %}">{{artikel.judul}}</a></h6>
				<p class="card-subtitle mb-2 text-muted">{{artikel.published|date}}</p>
				<p class="card-text">{{artikel.isi|truncatewords:30}}</p>
				<a href="{% url 'artikel:detail' artikel.slug %}" class="card-link">Selengkapnya</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock contents %}